<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
   <style>
    body {
      font-family: Arial, sans-serif;
      margin: 20px;
      line-height: 1.6;
      background-color: #f9f9f9;
    }
    .section {
      width: 70%;
      margin-bottom: 30px;
      margin-left: auto;
      margin-right: auto;
      padding: 15px;
      background-color: #ffffff;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .section h2 {
      margin-top: 0;
      color: #333;
    }
    .scrollable {
      max-height: 500px;
      overflow-y: auto;
      border: 1px solid #ddd;
      padding: 10px;
      border-radius: 4px;
      background-color: #f1f1f1;
    }
    .youtube-links a {
      display: block;
      color: #0066cc;
      text-decoration: none;
      margin-bottom: 10px;
    }
    .youtube-links a:hover {
      text-decoration: underline;
    }
    li, p, a {
      font-size: 28px;
    }
    h2 {
      font-size: 32px;
    }
  </style>
</head>
<body>
  {{{body}}}
</body>
</html>